<h1>Listing blog_links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Introduction</th>
    <th>Url</th>
    <th>Position</th>
    <th>Draft</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_links.each do |blog_link| %>
  <tr>
    <td><%= blog_link.title %></td>
    <td><%= blog_link.author %></td>
    <td><%= blog_link.introduction %></td>
    <td><%= blog_link.url %></td>
    <td><%= blog_link.position %></td>
    <td><%= blog_link.draft %></td>
    <td><%= blog_link.deleted_at %></td>
    <td><%= link_to 'Show', blog_link %></td>
    <td><%= link_to 'Edit', edit_blog_link_path(blog_link) %></td>
    <td><%= link_to 'Destroy', blog_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog link', new_blog_link_path %>
