<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Blog category code</th>
    <th>Contents1</th>
    <th>Contents2</th>
    <th>Draft</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.blog_category_code %></td>
    <td><%= blog.contents1 %></td>
    <td><%= blog.contents2 %></td>
    <td><%= blog.draft %></td>
    <td><%= blog.deleted_at %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
