<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Blog category code:</b>
  <%= @blog.blog_category_code %>
</p>

<p>
  <b>Contents1:</b>
  <%= @blog.contents1 %>
</p>

<p>
  <b>Contents2:</b>
  <%= @blog.contents2 %>
</p>

<p>
  <b>Draft:</b>
  <%= @blog.draft %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @blog.deleted_at %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
