<%= form_for @updated_information, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :display_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :display_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :version_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :news, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :news, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comment, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :draft, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :draft, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deleted_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :deleted_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mini_label, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mini_label, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mini_label_option, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mini_label_option, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                updated_informations_path, :class => 'btn' %>
  </div>
<% end %>
