<%- model_class = UpdatedInformation.new.class -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:display_at) %></th>
      <th><%#= model_class.human_attribute_name(:version_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
    </tr>
  </thead>
  <tbody>
    <% @updated_informations.each do |updated_information| %>
      <tr>
        <td><%= updated_information.display_at %></td>
        <td><%#= updated_information.version_id %></td>
        <td><%= updated_information.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
