<h1>Listing updated_informations</h1>

<table>
  <tr>
    <th>Display at</th>
    <th>Version</th>
    <th>Title</th>
    <th>News</th>
    <th>Comment</th>
    <th>Draft</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updated_informations.each do |updated_information| %>
  <tr>
    <td><%= updated_information.display_at %></td>
    <td><%= updated_information.version_id %></td>
    <td><%= updated_information.title %></td>
    <td><%= updated_information.news %></td>
    <td><%= updated_information.comment %></td>
    <td><%= updated_information.draft %></td>
    <td><%= updated_information.deleted_at %></td>
    <td><%= link_to 'Show', updated_information %></td>
    <td><%= link_to 'Edit', edit_updated_information_path(updated_information) %></td>
    <td><%= link_to 'Destroy', updated_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Updated information', new_updated_information_path %>
