<%- model_class = Admin::Version.new.class -%>
<% unless @admin_versions.blank? %>
<%= form_for @admin_versions, url: {action: :update}, html: {method: :post} do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:flag) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_versions.each do |version| %>
      <tr>
        <td><%= f.radio_button :flag, version.id, checked: version.flag %></td>
        <%= fields_for "versions[]", version do |a| %>
          <td><%= a.text_field :name %></td>
        <% end %> 
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_version_path(version),
                      method: :delete,
                      confirm: t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr> 
    <% end %> 
  </tbody>
</table>
<%= f.submit class: "btn" %>
<% end %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_version_path,
            :class => 'btn btn-primary' %>
