<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_version.name %>
</p>

<p>
  <b>Flag:</b>
  <%= @admin_version.flag %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @admin_version.deleted_at %>
</p>


<%= link_to 'Edit', edit_admin_version_path(@admin_version) %> |
<%= link_to 'Back', admin_versions_path %>
