<%- model_class = Admin::BlogComment.new.class -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:blog_id) %><br />
      <%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:author) %><br />
      <%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th><%= model_class.human_attribute_name(:mixi) %></th>
      <th><%= model_class.human_attribute_name(:draft) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_blog_comments.each do |blog_comment| %>
      <tr>
        <td><%= blog_comment.blog_title %><br />
        <%=l blog_comment.created_at %></td>
        <td><%= blog_comment.author %><br />
        <%= blog_comment.title %></td>
        <td><%= link_to blog_comment.content, admin_blog_comment_path(blog_comment) %></td>
        <td><%= blog_comment.admin %></td>
        <td><%= blog_comment.mixi %></td>
        <td><%= blog_comment.draft %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_blog_comment_path(blog_comment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_blog_comment_path(blog_comment),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_blog_comment_path,
            :class => 'btn btn-primary' %>
