<div class="well sidebar-nav">
  <h4><%= t("sidebar.profile") %></h4>
  <ul class="nav nav-list">
    <li><%= image_tag "kae.jpg" %></li>
    <li><%= t("profile.author") %><%= t("profile.author_text") %></li>
    <li><%= t("profile.twitter") %><%= t("profile.twitter_text") %></li>
    <li><%= t("profile.favorite") %><%= t("profile.favorite_text") %></li>
  </ul>
</div>

<% if @menu_name == t("menu.top") %>
<div class="well sidebar-nav">
  <h4><%= t("sidebar.menu") %></h4>
  <ul class="nav nav-list">
    <li><%= link_to t("menu.top"), root_path %></li>
    <li><%= t("menu.top_text") %></li>
    <li><%= link_to t("menu.blog"), blogs_path %></li>
    <li><%= t("menu.blog_text")  %></li>
  </ul>
</div>
<% end %>
 
<% if @menu_name == t("menu.blog") %>
<div class="well sidebar-nav">
  <h4><%= t("sidebar.recent_blogs") %></h4>
  <ul class="nav nav-list">
    <% @recent_blogs.each do |blog| %>
    <li><%= link_to blog.title + " (" + l(blog.created_at, format: :very_short) + ")", blog %></li>
    <% end %>
  </ul>
<% end %>
