<div class="well sidebar-nav">
  <h4><%= t("sidebar.menu") %></h4>
  <ul class="nav nav-list">
    <li><%= link_to t("menu.top"), root_path %></li>
    <li><%= t("menu.top_text") %></li>
    <li><%= link_to t("menu.blog"), root_path %></li>
    <li><%= t("menu.blog_text")  %></li>
  </ul>
</div>
 
