<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.profile") %></h4>
  <ul class="nav nav-list">
    <li><%= image_tag "kae.jpg" %></li>
    <li><%= t("profile.author") %><%= t("profile.author_text") %></li>
    <li class="inline"><%= t("profile.twitter") %><%= link_to t("profile.at") + t("profile.twitter_text"), t("profile.twitter_url") + t("profile.twitter_text") %></li>
    <p></p>
    <li><%= t("profile.introduce") %></li>
  </ul>
</div>

<% if @menu_name == t("menu.top") %>
<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.menu") %></h4>
  <ul class="nav nav-list">
    <li><%= link_to t("menu.top"), root_path %></li>
    <li><%= t("menu.top_text") %></li>
    <li><%= link_to t("menu.blog"), blogs_path %></li>
    <li><%= t("menu.blog_text")  %></li>
  </ul>
</div>
<% end %>
 
<% if @menu_name == t("menu.blog") %>
<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.recent_blogs") %></h4>
  <ul class="nav nav-list">
    <% @recent_blogs.each do |blog| %>
    <li><%= link_to blog.title + " (" + l(blog.created_at, format: :very_short) + ") ", blog %></li>
    <% end %>
  </ul>
</div>

<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.recent_blog_comments") %></h4>
  <ul class="nav nav-list">
    <% @recent_blog_comments.each do |comment| %>
      <% if comment.admin %>
        <li><%= link_to comment.blog_title + "：*** (" + l(comment.created_at, format: :very_short) + ")", blog_path(comment.blog_id) %></li>
      <% else %>
        <li><%= link_to comment.blog_title + "：" + comment.author + " (" + l(comment.created_at, format: :very_short) + ") ", blog_path(comment.blog_id) %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.blog_link") %></h4>
  <ul class="nav nav-list">
    <% @blog_links.each do |blog_link| %>
      <li><a href=<%= blog_link.url %> target="_blank" rel="tooltip" data-original-title=<%= blog_link.author + I18n.t("blog_link.prefix") + "：" + blog_link.introduction %> data-placement="left"><%= blog_link.title %></a></li>
    <% end %>
  </ul>
</div>

<div class="well sidebar-nav">
  <h4><%= image_tag @icon_image, class: "icon" %><%= t("sidebar.mail_form") %></h4>
  <%= render partial: "mail_forms/form" %>
</div>
<% end %>
