<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_blog_link.title %>
</p>

<p>
  <b>Author:</b>
  <%= @admin_blog_link.author %>
</p>

<p>
  <b>Introduction:</b>
  <%= @admin_blog_link.introduction %>
</p>

<p>
  <b>Url:</b>
  <%= @admin_blog_link.url %>
</p>

<p>
  <b>Position:</b>
  <%= @admin_blog_link.position %>
</p>

<p>
  <b>Draft:</b>
  <%= @admin_blog_link.draft %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @admin_blog_link.deleted_at %>
</p>


<%= link_to 'Edit', edit_admin_blog_link_path(@admin_blog_link) %> |
<%= link_to 'Back', admin_blog_links_path %>
