<%= form_for @admin_blog, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @admin_blog.errors.any? %>
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      <%#= pluralize(@admin_blog.errors.count, "error") %>
      <%= t("activerecord.errors.template.header.other", count: @admin_blog.errors.count) %>
      <ul>
      <% @admin_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :created_at, class: 'control-label' %><%= mark_required(@admin_blog, :created_at) %>
    <div class="controls">
      <%= f.datetime_select :created_at, datetime_separator: "　", include_seconds: true, use_month_numbers: true, start_year: 2006, class: "date_time" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %><%= mark_required(@admin_blog, :title) %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contents1, :class => 'control-label' %><%= mark_required(@admin_blog, :contents1) %>
    <div class="controls">
      <%= f.text_area :contents1, :class => 'text_area span5', rows: "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contents2, :class => 'control-label' %><%= mark_required(@admin_blog, :contents2) %>
    <div class="controls">
      <%= f.text_area :contents2, :class => 'text_area span5', rows: '10' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
