<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kaenoheya" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="header">
      <%= render "shared/header" %>
    </div>

   <div class="container">
      <div class="content">
        <div class="row">
          <div class="span8">
            <%= yield %>
          </div>
          <div class="span4">
            <%= render "shared/sidebar" %>
          </div>
        </div>
      </div>

      <div class="footer">
        <%= render "shared/footer" %>
      </div>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
